---
import Footer from '../components/Footer.astro';
import MainHead from '../components/MainHead.astro';
import Nav from '../components/Nav.astro';

interface Props {
	title?: string | undefined;
	description?: string | undefined;
}

const { title, description } = Astro.props;
---

<html lang="pt-BR">
	<head>
		<MainHead title={title} description={description} />
	</head>
	<body>
		<div class="site-container">
			<Nav />
			<slot />
			<Footer />
		</div>

		<script>
			// Add “loaded” class once the document has completely loaded.
			addEventListener('load', () => document.documentElement.classList.add('loaded'));
		</script>

		<style>
			:root {
				--bg-image-main: radial-gradient(circle at 50% -10%, rgba(59, 130, 246, 0.1), transparent 40%);
			}

			.site-container {
				min-height: 100vh;
				display: flex;
				flex-direction: column;
				background: 
					var(--bg-image-main),
					var(--gray-999);
				position: relative;
			}

			/* Noise texture overlay */
			.site-container::before {
				content: '';
				position: fixed;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: url('/assets/backgrounds/noise.png');
				opacity: 0.05;
				pointer-events: none;
				z-index: 10;
			}
		</style>
	</body>
</html>
